@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

body {
    overflow-x: hidden;
    background-image: url('./image/bg_register.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: black;
    text-decoration: none;
}

.navbar {
    display: flex;
    border-radius: 50px;
    justify-content: space-between;
    padding: 20px 32px;
    align-items: center;
    width: 80%;
    position: fixed;
    right: 0;
    left: 0;
    top: 30px;
    margin: auto;
    -webkit-backdrop-filter: blur(10px); 
    background-color: rgba(243, 223, 223, 0.5); 
    border: 1px solid rgb(171, 171, 243);
    z-index: 1000; /
}

.navbar > div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 105px;
}

.registrasi {
    background: #FFC73C;
    color: white;
    border-radius: 50px;
    padding: 10px 15px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.registrasi:hover {
    background-color: #c2aa36;
}

.navbar h3 {
    font-size: 30px;
}

.navbar h3 > span:nth-child(1) {
    color: #21409A;
}

.navbar h3 > span:nth-child(2) {
    background: linear-gradient(90deg, #CB2127, #E2791E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: lighter;
}

.bg_utama {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1; 
}

.bg_utama > div:nth-child(1) {
    text-align: center;
    margin-top: 200px;
    color: white;
}

.bg_utama > div:nth-child(2) {
    text-align: center;
    margin-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
    background-color: white;
}

.bg_utama > div > h3 {
    font-weight: 300;
}

.formRegister {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 20px;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 100px;
}

input::placeholder {
    font-weight: 500;
    color: black;
}

input {
    border: none;
    outline: none;
    padding: 15px;
    background-color: rgb(241, 236, 236);
    border-radius: 10px;
}

textarea {
    background-color: rgb(241, 236, 236);
    padding: 8px;
    height: 85px;
    border-radius: 20px;
    border: none;
    outline: none;
}

textarea::placeholder {
    font-weight: 500;
    color: black;
}

.uploadicon {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #007bff;
    font-size: 50px;
    text-align: center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.bgimage {
    background-image: url('./image/women_profile.png'); 
}

.profile-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
}

input[type="file"] {
    display: none; 
}

ol {
    color: black;
    text-align: start;
}

.photoDesc {
    display: flex;
    gap: 50px;
    align-items: center;
}

p {
    font-weight: 300;
    font-size: 12px;
    color: black;
    align-self: start;
}

.checkbox {
    align-self: start;
    display: flex;
    gap: 5px;
    align-items: center;
    
}

input[type="checkbox"] {
    align-self: start;
}

h4 {
    color: black;
    font-size: 13px;
}

h4 > span {
    color: #007bff;
    font-size: 13px;
    cursor: pointer;
}

button {
    background-color: #00D1FF;
    color: white;
    padding: 14px;
    align-self: center;
    width: 50%;
    border: none;
    outline: none;
}

footer {
    background-color: #00D1FF;
    padding: 60px;
    color: white;
}

footer > div {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    color: white;
}

.footer_desc {
    display: flex;
    align-items: center;
    gap: 120px;
    flex-direction: row;
    margin-bottom: 20px;
    color: white;
}

.footer_desc > div {
    display: flex;
    align-items: center;
    gap: 7px;
    flex-direction: column;
    
}

.footer_desc > div p {
    font-size: 14px;
}

.footer_desc > p {
    color: white;
}

footer > p {
    margin-top: 30px;
    color: white;
}

footer hr {
    width: 100%;
    border: none; 
    height: 1px; 
    background-color: white; 
    opacity: 0.7;
    color: wheat;
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
    .navbar {
        width: 90%;
    }
    .navbar > div:nth-child(2) {
        gap: 40px;
        font-size: 20px;
    }
    .bg_utama > div:nth-child(1) {
        font-size: 27px;
    }
    
    .bg_utama > div:nth-child(2) {
        width: 80%;
        font-size: 20px;
    }
    .formRegister{
        gap: 30px;
    }
    input::placeholder {
        font-size: 20px;
    }
    textarea::placeholder {
        font-size: 18px;
    }
    textarea{
        height: 160px;
    }
    .profile-photo {
        width: 300px;
    height: 300px;
    }
    .photoDesc{
        gap: 70px;
       
    }
    li {
        margin-bottom: 10px;
    }
    h4{
        font-size: 20px;
        text-align: start;
        transform: translateY(-10px);
    }
    h4 > span {
        
        font-size: 20px;
        
    }
    .checkbox{

        gap: 20px;
    }
    input[type="checkbox"] {
        width: 20px;
        height: 20px; 
        transform: scale(1.5); 
        cursor: pointer;
    }
    button{
        font-size: 30px;
        font-weight: 700;width: 70%;
        border-radius: 10px;
    }

    footer{
        background-color: #00D1FF;
        padding: 60px 20px;
        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
    }
    footer p{
        font-size: 20px;
        margin: auto;
    }
    
    .footer_desc{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
                text-align: center;
        font-weight: 300;
        width: 100%;
        font-size: 25px;
    }
    footer div hr ~ p {
        font-size: 20px;
        font-weight: 300;
        text-align: center;
    }
    footer > img{
        height: 160px;
    }
    .footer_desc > div p{
        font-size: 22px;
        /* transform: translateX(30px); */
        margin: auto;
        color: white;
    }
    .footer_desc div img{
        height: 50px;
        margin-top: 10px;
    }
    .footer_desc > p {
        font-size: 25px;
    }
   
    
    
    
}